<pre>ようこそ、suzuki's web_siteへ。</pre>
  <div id="main">
    <p>Find me in app /<a href="#"> github <i uk-icon="icon: github-alt"></i></a></p>
  </div>

  <main uk-grid>
      <div class="uk-card uk-width-1-2@m">
        <div class="uk-card-header">
          <h3>当サイトの主旨 <i uk-icon="icon: check"></i></h3>
        </div>
        <div class="uk-card-body">
          <span>
            情報提供を目的としています。<br>
            これまでの経験で学んだこと・情報を中心に掲載したいと思います。
          </span>
        </div>
        <div class="uk-card-body">
        </div>
      </div>
      <div class="uk-card uk-width-1-2@m">
        <div class="uk-card-header">
          <h3>プログラミングについて <i uk-icon="icon: code"></i></h3>
        </div>
        <div class="uk-card-body">
          <span>
            今後（既に…）IT業界では人材不足が顕著とのこと。
            プログラミングスクールも大人気のようですね。
            また、コロナウイルスに端を発する景気の落ち込みが実際のものとなっていることもあり
            テレワークの拡大・充足が急がれています。
            手に職という意味でも必要なスキルになってきています。
          </span>
        </div>
      </div>
    <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center" uk-grid>
      <div>
          <div class="uk-card uk-card-default">
              <div class="uk-card-body">
                  <h3 class="uk-card-title">テレワーク</h3>
                  <p>地方在住であることは<br>もはやハンディキャップにはなりません。
                    </p>
              </div>
              <div class="uk-card-media-bottom">
                  <%= image_tag '1559821.jpg' %>
              </div>
          </div>
      </div>
      <div>
          <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                  <%= image_tag '4078456.jpg'%>
              </div>
              <div class="uk-card-body">
                  <h3 class="uk-card-title">時間の有効活用</h3>
                  <p>時間はみな平等です。<br>あなたの24時間を有効に使うべきです。</p>
              </div>
          </div>
      </div>
      <div>
          <div class="uk-card uk-card-default">
              <div class="uk-card-body">
                  <h3 class="uk-card-title">夢を叶えよう</h3>
                  <p>人生は一度きりです。<br>まずは行動してみましょう。
                    </p>
              </div>
                  <div class="uk-card-media-bottom">
                      <%= image_tag '1831236.jpg' %>
                  </div>
          </div>
      </div>
    </div>
  </main>
